<div class="goon-container">
  <div class="stat-input">
    <label>
      Name :
      <input type="text" (keyup)="countTotalInitiative()" [formControl]="name">
    </label>
  </div>
  <div class="inputs-container">
    <div class="stat-input">
      <label>
        Inital REF :
        <input type="text" (keyup)="countTotalInitiative()" [formControl]="REFval">
      </label>
    </div>
    <div class="stat-input">
      <label>
        1d10 ROLL :
        <input type="text" (keyup)="countTotalInitiative()" [formControl]="d10Roll">
      </label>
    </div>
    <div class="stat-input">
      <label>
        Buffs/Debufs :
        <input type="text" (keyup)="countTotalInitiative()" [formControl]="AdditionalREF">
      </label>
    </div>
    <button type="button" class="btn btn-danger" (click)="removeGoon()">Kill Command</button>
  </div>
  <div class="ref-summary">
      Total REF for {{name.value}} is : <b>{{ totalREFval }}</b>
  </div>
</div>
