<app-top-bar></app-top-bar>

<div class="app d-flex justify-content-center">
  <div class="col-md-10">
    <div class="goons-container">
      <button type="button" class="btn btn-primary" (click)="addGoon()">Add goon</button>
      <div class="goons">
            <app-goon-component *ngFor="let goon of goons" [goon]="goon"></app-goon-component>
      </div>
    </div>
    <div class="my-boys-container">
      <button type="button" class="btn btn-primary" (click)="addGoon()">Add bois</button>
      <div class="goons">
            <app-goon-component *ngFor="let goon of goons" [goon]="goon"></app-goon-component>
      </div>
    </div>
  </div>
</div>


<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
